@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.post-card{
    min-width: 250px;
    max-width: 450px;
    height: fit-content;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid white;
    margin-bottom: 20px;
}
.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}
.time{
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    text-shadow: black;
    font-family: 'Montserrat', sans-serif;
}
.fav-div{
    position: absolute;
    bottom: 10px;
    left:20px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background: #142f385c;
    color: #fff;
}
.icon{
    font-size: 20px;
}
.icon.favourite{
    color: red;
}
.fav-div.like-div{
    border-radius: 5px;
    }
.icon.liked{
    color: white;
}    
.card-body{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom:0px;
    left: -100%;
    background:#142f385c;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.post-card:hover .card-body{
    left: 0px;
}
.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
.card-message{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.card-tags{
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
}
.option-div{
    position: absolute;
    bottom: 40px;
    right:35px;
    background: white;
    border-radius: 2px;
    z-index: 20;
}
.button{
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px 15px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button:hover{
    background: rgb(189, 186, 186);
}
.info-button{
    background: #041d2570;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.detailed-container{
    position: absolute;
    top:0px;
    left:0px;
    height: 100vh;
    width: 100%;
    background: rgba(8, 8, 8, 0.767);
    backdrop-filter: blur(3px);
    color: #fff;
    margin: 0px;
    z-index: 3000;

}
.detailed-container.closed{
    display: none;
}
.header-div{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    padding-top: 15px;
    z-index: 20000;
}
.header-left{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-title-div{
    display: flex;
    max-width: 50%;
    align-items: center;
}
.header-pic{
    height: 2em;
    width: auto;
    filter: invert(90%);
    margin-left: 1em;
}
.header-title{
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.3em;
}
.back-btn{
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.back-btn>svg{
    font-size: 3em;
}
.back-btn.right>svg{
    font-size: 2em;
    color: #ffffffdc;
}
.lower-div {
    width: 100%;
    height: 90%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image-div{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    position: relative;
    transition: all 0.5s ease;

}
.image-div.info{
    width: 70%;
}
.details-image{    
    width: 100%;
    height: 580px;
    display: block;
    object-fit: contain;
}
.tools{
    background-color: aquamarine;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20000;
    width: auto;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 10px;
    background:rgba(0, 0, 0, 0.619) ;
    padding: 5px 1em;
}
.info-div{
    width: 30%;
    height: 100%;
    padding-left: 5em;
    padding-right: 1em;
    transition: all 0.5s ease;
   
}
.info-card{
    height:100% ;
    border-radius: 30px;
    background-color: rgba(21, 20, 20, 0.621);
    overflow: scroll;
    
}
.detail-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c5d8ec;
    padding: 1em 2em;
    flex-direction: column;
    gap: 1em;
}
.detail-div.first{
    flex-direction: row;
}
.detail-div.first>span{
    letter-spacing: 3px;
}
.divider{
    margin: 0px 1em;
    color: #ffffff90;
}
.detail-div>span{
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    
}
.single-info{
    width: 100%;
    display: flex;
    height: 3em;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 1em;
    height: fit-content;
}

.main-heading{
    width: 30%;
    align-self: first baseline;
    font-family: 'Montserrat', sans-serif;

}
.main-heading.access {
    width: 20%;
}
.heading-content{
    flex-basis: 63%;
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: anywhere;
}
.heading-content.access{
    flex-basis: 75%;
}
.heading-content.access>div>svg{
    margin-left: 0.5em;
    color: #fff;
}
.heading-content.access>div>svg:hover{
    color: #c5d8ec;
}
.member-list{
    margin-bottom: 0.5em;
}
@media screen and (max-width: 1020px){
    .details-image{
        height: 500px;
    }
    .tools{
        bottom: -0.5em;
    }
    .image-div.info{
        width: 60%;
    }
    .info-div{
        width: 40%;
    }
}

@media screen and (max-width: 900px){
    
       .image-div.info {
            width: 50%;
        }
    
        .info-div {
            width: 40%;
            padding-left: 2em;
        }
        .info-card{
            width: 100%;
        }
        .header-title-div{
            max-width: 100%;
        }
}
@media screen and (max-width: 700px) {
.detailed-container{
    height: fit-content;
    overflow: scroll;

}
.lower-div{
    flex-direction: column-reverse;
}
.image-div.info{
    width: 100%;
}
.tools{
    bottom: 1em;
}
.info-div{
    width: 100%;
}
.header-title{
    font-size: 1em;
}
}
