@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.card{
    min-width: 250px;
    max-width: 350px;
    height: fit-content;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid white;
    margin-bottom: 20px;
}
.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}
.time{
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    text-shadow: black;
    font-family: 'Montserrat', sans-serif;
}
.card-body{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom:0px;
    left: -100%;
    background:#142f385c;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.card:hover .card-body{
    left: 0px;
}
.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
.card-message{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.card-tags{
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
}
.option-div{
    position: absolute;
    top: 35px;
    right:35px;
    background: white;
    border-radius: 2px;
    z-index: 20;
}
.button{
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
}
.button:hover{
    background: rgb(189, 186, 186);
}
.info-button{
    background: white;
    border-radius: 2px;
    padding: 0px;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 2px 2px 10px black;
    border: none;
    cursor: pointer;
}

