@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.card {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 1.25rem 2rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.card__img {
    width: 90%;
    border-radius: 50%;
    height: 90%;
    background-color:#ff5722;
    color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-family: "Poppins",sans-serif;
    font-size: 3rem;
}
.card__border {
    width: 110px;
    height: 110px;
    border: 2px solid #1976d2;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 auto 0.75rem;
}
.card__name {
    color: rgb(40, 39, 39);
    font-size: 1.125rem;
    font-weight: 500;
    font-family:"Poppins", sans-serif;
}
.card__profession {
    color: rgb(63, 60, 60);
    font-size: 0.75rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.med-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background: #95979942;
    box-shadow: 5px 5px 10px #b6afaf, -5px -5px 10px #ffffff;
    border-radius: 50%;
    /* margin: 0 30px 0 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.med-card .circle {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.med-card .empty-logo {
    width: 70px;
    height: 70px;

}
.med-card .header,
.para {
    text-align: center;
    color: #665e5e;
    padding: 0 30px 0 30px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 700px) {
    .med-card{
        width: 70%;
        height: 70%;
    }
    .med-card .circle{
        width: 68%;
        height: 68%;
        margin: 5px;
    }
    .med-card .empty-logo{
        width: 40px;
        height: 40px;
    }
    .med-card .header,
    .para{
        padding: 0;
    }
}